//partial files starts with '_'
// global variables
$bg-color: #d8eeff;
$primary-color: #1E88E5;
$secondary-color: #383838;
$tertiary-color:#FFB300;
$text-color: #606060;

$font-size-lg:3.5rem;
$font-size-md:2.5rem;
$font-size-sm:1.5rem;