.flex-container{
    display: flex;
    flex-wrap: wrap;
    background-color: aliceblue;
}
.flex-container1{
    display: flex;
    background-color: aliceblue;
}
.flex-item{
    font-family: "Segoe UI", ui-sans-serif;
    padding: 45px;
    margin: 10px;
    background-color: #282A35;
    color: white;
    font-size: 30px;
    text-align: center;
    width: 100px;
}
#item1{
    flex-grow: 1;
}
#item2{
    flex-grow: 2;
}
#item3{
    flex-grow: 1.5;
}


#item5{
    flex-shrink: 1;
}
#item6{
    flex-shrink: 3;
}

#item7{
    flex-shrink: 2;
}
#item8{
    flex-shrink: 0.5;
}