/12.Nextjs/Nextjs-TheCompleteGuide/01.1.app-router-essentials/node_modules/
/12.Nextjs/Nextjs-TheCompleteGuide/01.1.app-router-essentials/.next/
/12.Nextjs/Nextjs-TheCompleteGuide/01.1.app-router-essentials/.env.local
/12.Nextjs/Nextjs-TheCompleteGuide/01.2.routing-and-page-rendering/node_modules/
/12.Nextjs/Nextjs-TheCompleteGuide/01.2.routing-and-page-rendering/.next/
/12.Nextjs/Nextjs-TheCompleteGuide/01.2.routing-and-page-rendering/.env.local
/12.Nextjs/Nextjs-TheCompleteGuide/01.3.data-fetching/node_modules/
/12.Nextjs/Nextjs-TheCompleteGuide/01.3.data-fetching/.next/
/12.Nextjs/Nextjs-TheCompleteGuide/01.3.data-fetching/.next/.env.local
/12.Nextjs/Nextjs-TheCompleteGuide/01.4.mutating-data/node_modules/
/12.Nextjs/Nextjs-TheCompleteGuide/01.4.mutating-data/.next/
/12.Nextjs/Nextjs-TheCompleteGuide/01.4.mutating-data/.env.local
/12.Nextjs/Nextjs-TheCompleteGuide/01.5.configure-caching/node_modules/
/12.Nextjs/Nextjs-TheCompleteGuide/01.5.configure-caching/.next/
/12.Nextjs/Nextjs-TheCompleteGuide/01.5.configure-caching/.env.local
/12.Nextjs/Nextjs-TheCompleteGuide/01.6.optimization/node_modules/
/12.Nextjs/Nextjs-TheCompleteGuide/01.6.optimization/.next/
/12.Nextjs/Nextjs-TheCompleteGuide/01.6.optimization/.env.local
/12.Nextjs/Nextjs-TheCompleteGuide/01.7.Athentication/node_modules/
/12.Nextjs/Nextjs-TheCompleteGuide/01.7.Athentication/.next/
/12.Nextjs/Nextjs-TheCompleteGuide/01.7.Athentication/.env.local
/12.Nextjs/Nextjs-TheCompleteGuide/02.file-base-routing/node_modules/
/12.Nextjs/Nextjs-TheCompleteGuide/02.file-base-routing/.next/
/12.Nextjs/Nextjs-TheCompleteGuide/02.file-base-routing/.env.local
/12.Nextjs/Nextjs-TheCompleteGuide/03.file-base-routing-project/node_modules/
/12.Nextjs/Nextjs-TheCompleteGuide/03.file-base-routing-project/.next/
/12.Nextjs/Nextjs-TheCompleteGuide/03.file-base-routing-project/.env.local
/12.Nextjs/Nextjs-TheCompleteGuide/04.pre-rendering/node_modules/
/12.Nextjs/Nextjs-TheCompleteGuide/04.pre-rendering/.next/
/12.Nextjs/Nextjs-TheCompleteGuide/04.pre-rendering/.env.local
/12.Nextjs/Nextjs-TheCompleteGuide/05.pre-rendering-and-data-fetching-project/node_modules/
/12.Nextjs/Nextjs-TheCompleteGuide/05.pre-rendering-and-data-fetching-project/.next/
/12.Nextjs/Nextjs-TheCompleteGuide/05.pre-rendering-and-data-fetching-project/.env.local
/12.Nextjs/Nextjs-TheCompleteGuide/06.optimizing-nextjs-apps/node_modules/
/12.Nextjs/Nextjs-TheCompleteGuide/06.optimizing-nextjs-apps/.next/
/12.Nextjs/Nextjs-TheCompleteGuide/06.optimizing-nextjs-apps/.env.local
/12.Nextjs/Nextjs-TheCompleteGuide/07.add-backend-with-api-routes/node_modules/
/12.Nextjs/Nextjs-TheCompleteGuide/07.add-backend-with-api-routes/.next/
/12.Nextjs/Nextjs-TheCompleteGuide/07.add-backend-with-api-routes/.env.local
/12.Nextjs/Nextjs-TheCompleteGuide/08.api-routes-project/node_modules/
/12.Nextjs/Nextjs-TheCompleteGuide/08.api-routes-project/.next/
/12.Nextjs/Nextjs-TheCompleteGuide/08.api-routes-project/.env.local
/12.Nextjs/Nextjs-TheCompleteGuide/12.next-authentication/node_modules/
/12.Nextjs/Nextjs-TheCompleteGuide/12.next-authentication/.next/
/12.Nextjs/Nextjs-TheCompleteGuide/12.next-authentication/.env.local
/12.Nextjs/next-real-apps/01.blog-website-contentlayer/node_modules/
/12.Nextjs/next-real-apps/01.blog-website-contentlayer/.next/
/12.Nextjs/next-real-apps/01.blog-website-contentlayer/.env.example
/12.Nextjs/nextjs-authentication/node_modules/
/12.Nextjs/nextjs-authentication/.next/
/12.Nextjs/nextjs-authentication/.env.local
/17.PWA/08.first-app-with-indexdb-and-dynamic-data/.env
