body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    padding: 20px;
}

.online {
    background-color: green;
}

.offline {
    background-color: red;
}