.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
.form {
  display: flex;
  min-height: 10rem;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
