:root {
    --accent-color: #E76F51;
    --primary-color: #fff;
    --secondary-color: #3B3735;
    --nav-link-color: #D2D2D2;
    --link-color: #8d8d8d;
    --card-bg: #fff;
    --mobile-menu-bg: #282826;
    --section-bg: rgba(255, 210, 198, 0.85);
    --primary-font: "Roboto", Arial, Helvitca, san-serif;
    --primary-font-md: "Roboto Medium", Arial, Helvitca, san-serif;
    --secondary-font: "Archivo", Arial, Helvitca, san-serif;

}

html {
    box-sizing: border-box;
    /*font-size: 10px;*/
    font-size: 62.5%; /* based on user browser default font size */
    scroll-behavior: smooth;
}

/* Our Approach is mobile first design*/
*, *:after, *:before {
    box-sizing: inherit;
}

body {
    line-height: 1.7;
    font-family: var(--primary-font);
    font-size: 1.6rem;
    background-color: rgba(255, 210, 198, 0.20);
}

/* ============ Reset Styles ============ */
a {
    text-decoration: none;
}

/* ============ Helper Class ============ */

/* ============ Components ============ */

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10rem;
    color: var(--link-color);
    background-color: rgba(209, 208, 208, 0.15);
    width: 25rem;
    height: 5rem;
    margin: auto;
    font-family: var(--primary-font-md);
    font-size: 2rem;
    letter-spacing: 1px;
    transition: color 200ms ease-in, background-color 200ms ease-in;
}

.btn:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

/* ============ App Style ============ */

/* ============ Header ============ */
.header {
    background-image: linear-gradient(rgba(59, 55, 53, .5), rgba(59, 55, 53, 0.6)), url("../../assets/images/header-bg.jpg");
    background-position: center;
    background-size: cover;
    min-height: 78vh;
    border-bottom-left-radius: 15rem;
    border-bottom-right-radius: 15rem;
}

/* ---- Navigation ---- */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem 2rem 3rem;
}

.nav-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* ---- App Logo ---- */
.app-logo {
    display: block;
    margin-right: 3rem;
    width: 5.5rem;
    height: 5.5rem;
}

.app-log_img {
    width: 100%;
    height: 100%;
}

/* ---- Main Menu (desktop) ---- */
.menu {
    display: none;
}

.menu__item {
    margin-right: 1.5rem;
}

.menu__link {
    color: var(--nav-link-color);
    transition: color 200ms ease-in;
}

.menu__link:hover {
    color: var(--primary-color);
}

.menu__link--active {
    color: var(--primary-color);
    position: relative;
}

.menu__link--active:before {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    width: 5rem;
    height: .3rem;
    margin: 0 auto;
    background-color: var(--accent-color);
    border-radius: 10rem;
    transform: translateY(.8rem) rotate(30deg);
}

/* ---- Navigation Menu ---- */
.nav-menu {
    position: fixed;
    background-color: var(--mobile-menu-bg);
    top: 0;
    left: -25rem;
    bottom: 0;
    width: 25rem;
    padding: 2.5rem;
    transition: left 500ms ease-in-out;
}

.nav-menu--open {
    left: 0;
}

.nav-menu__title {
    color: var(--primary-color);
    font-size: 2rem;
    font-family: var(--secondary-font);
    margin-bottom: 2rem;
}

/* ---- Mobile Menu---- */

.mobile-menu__item {
    margin-bottom: 1rem;
}

.mobile-menu__link {
    color: var(--primary-color);
    position: relative;
    transition: color 250ms ease-in-out;
}

.mobile-menu__link::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 1px;
    height: .3rem;
    border-radius: 10rem;
    transition: width 250ms ease-in-out;
}

.mobile-menu__link:hover::before {
    width: 1.5rem;
    background-color: var(--accent-color);
}

.mobile-menu__link:hover {
    padding-left: 2rem;
}

.mobile-menu__link--active {
    color: var(--accent-color);
    padding-left: 2rem;
}

.mobile-menu__link--active::before {
    width: 1.5rem;
    background-color: var(--accent-color);
}

.nav-menu__links {
    display: flex;
    margin-top: 3rem;
}

.nav-menu__link {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 3rem;
    display: block;
    margin-right: 1rem;
    padding: 1rem;
    flex-grow: 1;
    text-align: center;
    transition: all 200ms ease-in;
}

.nav-menu__link:hover {
    border-color: var(--accent-color);
    color: var(--accent-color);
}

/* ---- Navigation Links ---- */

.nav__links {
    display: none;
    align-items: center;
}

.nav__link {
    color: var(--primary-color);
    font-family: var(--primary-font-md);
    margin-left: 1.5rem;
    transition: all 200ms ease-in;
}

.nav__link:hover {
    color: var(--nav-link-color);
}

.nav__link--border {
    border: 1px solid var(--primary-color);
    padding: 1rem 3rem;
    border-radius: 10rem;
}

.nav__link--border:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* ---- Navigation Btn---- */
.nav__btn {
    background-color: var(--card-bg);
    width: 5.5rem;
    height: 5.5rem;
    border: none;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav__btn-line {
    display: block;
    z-index: 1;
    width: 3rem;
    height: .3rem;
    border-radius: 2rem;
    background-color: var(--accent-color);
    position: relative;
    transition: all 150ms ease-in-out;
}

.nav__btn-line::after, .nav__btn-line::before {
    content: " ";
    position: absolute;
    width: 3rem;
    height: .3rem;
    border-radius: 2rem;
    background-color: var(--accent-color);
    transition: all 250ms ease-in-out;
}

.nav__btn-line::after {
    top: .8rem;
}

.nav__btn-line::before {
    top: -.8rem;
}

.nav__btn.nav__btn--open .nav__btn-line {
    background-color: transparent;
}

.nav__btn.nav__btn--open .nav__btn-line:before {
    transform: translateY(.8rem) rotate(45deg);
}

.nav__btn.nav__btn--open .nav__btn-line:after {
    transform: translateY(-.8rem) rotate(-45deg);
}

/* --- Header Content --- */
.header-content {
    text-align: center;
    color: var(--primary-color);
}

.header-content__title {
    font-size: 4.5rem;
    font-family: var(--secondary-font);
    max-width: 36rem;
    margin: 4rem auto 0 auto;
}

.header-content__caption {
    font-size: 2rem;
    max-width: 34rem;
    margin: 0 auto 2rem auto;
}

.header-content__link {
    margin-top: 3rem;
    background-color: var(--accent-color);
    color: var(--primary-color);
}

/* ============  Main ============ */

/* ---- Services ----*/
.services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -12rem;
    margin-right: -1rem;
    margin-left: -1rem;
}

.service {
    background-color: var(--card-bg);
    padding: 0 1rem;
    height: 26rem;
    width: 26rem;
    border-radius: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
    flex-grow: 1;
    margin: 2rem 1rem;

}

.service__title {
    font-family: var(--secondary-font);
    font-size: 1.8rem;
    margin: 1.5rem auto .8rem auto;
}

.service_image {
    display: block;
}


/* ---- Destinations ----*/

.destinations {
    text-align: center;
    padding: 7rem 0;
    color: var(--secondary-color);
}

.descriptions__title {
    font-family: var(--secondary-font);
    font-size: 2.5rem;
    max-width: 30rem;
    margin: 2.5rem auto;
}


.destinations__places {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;

}

.place {
    background-color: var(--card-bg);
    border-radius: 3rem;
    padding: 2rem;
    color: var(--secondary-color);
    margin: 0 1rem 3rem 1rem;
    width: 30rem;
    flex-grow: 1;
    align-items: center;
    overflow: hidden;
}

.place__banner {
    position: relative;
    height: 18rem;
    border-radius: 3rem;
    overflow: hidden;
}

.place__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.place__like {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 1.5rem;
    top: 1.5rem;
    right: 1.5rem;
    cursor: pointer;
    background-color: var(--card-bg);
    z-index: 1;
}

.place__like-icon--fill {
    fill: var(--accent-color);
}

.place__price {
    position: absolute;
    width: 15rem;
    height: 5rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1.5rem;
    bottom: -1.5rem;
    background-color: var(--card-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.place__price-text {
    font-family: var(--primary-font-md);
    color: var(--accent-color);
    text-align: center;
}

.place__title {
    margin-top: 3rem;
    margin-bottom: .5rem;
    font-family: var(--secondary-font);
    font-size: 1.8rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.place__caption {

}

.place__link {
    margin-top: 3rem;
}

.place__link:hover {

}

.destinations__btn {
    border: 1px solid var(--accent-color);
    background-color: transparent;
    color: var(--accent-color);
    transition: all 200ms ease-in;
    margin-top: 5rem;
}

.destinations__btn:hover {
    color: white;
    background-color: var(--accent-color);
}

/* ---- Newsletter ---- */
.newsletter {
    background-color: var(--section-bg);
    border-radius: 2rem;
    text-align: center;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 6rem;
}

.newsletter__content {
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.newsletter__title {
    font-family: var(--secondary-font);
    font-size: 3rem;
    margin-top: 1.5rem;
}

.newsletter__caption {
    font-family: var(--primary-font);
    font-size: 1.6rem;
}

.newsletter__email-box {
    position: relative;
    background-color: var(--card-bg);
    height: 6rem;
    margin-top: 2rem;
    border-radius: 1.5rem;
    padding: 1.2rem 1.2rem 1.2rem 3rem;
}

.newsletter__form {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter__email-label {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.newsletter__email-icon {
    display: block;
}

.newsletter__input {
    display: block;
    outline: none;
    border: none;
    color: var(--link-color);
    font-size: 1.6rem;
    padding-left: 1rem;
}

.newsletter__submit {
    outline: none;
    border: none;
    background-color: var(--accent-color);
    width: 5rem;
    height: 5rem;
    border-radius: 1.5rem;
    cursor: pointer;
    box-shadow: .5rem .5rem 2rem var(--accent-color);
}

.newsletter__submit-icon {

}

.newsletter__banner {

}

.newsletter__img {
    width: 100%;
}
.scroll-up{
    position: fixed;
    right: 8%;
    bottom: 20vh;
    width: 4rem;
    height: 4rem;
    border-radius: 1rem;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ============ Footer ============ */
.footer {
    background-color: var(--section-bg);
    border-top-left-radius: 15rem;
    border-top-right-radius: 15rem;
    color: var(--secondary-color);
    padding-top: 10rem;
    padding-bottom: 4rem;
    text-align: center;
}

.footer__title {
    font-family: var(--secondary-font);
    font-size: 1.8rem;
    margin-bottom: 1rem;
}



/* ---- Footer Left ---- */
.footer__left {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
}
.footer-content {
    margin-bottom: 2rem;
}

.footer-content__description {

}
.footer-app {
display: none;
}

.footer-app__link {

}

.footer-app__img {

}
.footer-app--mobile{
    display: block;
}
/* ---- Footer Right ---- */
.footer__right {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}
.footer-list{
    width: 16rem;
    margin-bottom: 3rem;
    margin-left: 1.5rem;
}

.footer-menu {

}

.footer-menu__item {

}
.footer-menu__link{
    color: var(--secondary-font);
    transition: color 200ms ease-in;
}
.footer-menu__link:hover{
    color: var(--link-color);
    text-decoration: underline;
}
.footer-copy-write {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.4rem;
}

