@font-face {
    font-family: "Roboto";
    src: url("../../assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto Medium";
    src: url("../../assets/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Archivo";
    src: url("../../assets/fonts/Archivo/Archivo-Black.ttf") format("truetype");
}