.alert {
  margin: 1rem auto;
  padding: 1rem 2rem;
  width: 90%;
  max-width: 40rem;
  color: #94fdfd;
  background-color: #2b2b2b;;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 6px;
}