/* App Fonts */

@font-face {
    font-family: "TTNorms";
    src: url("../fonts/TTNorms-Regular.otf") format("openType");
}
@font-face {
    font-family: "TTNorms Medium";
    src: url("../fonts/TTNorms-Medium.otf") format("openType");
}
@font-face {
    font-family: "TTNorms Light";
    src: url("../fonts/TTNorms-Light.otf") format("openType");
}

@font-face {
    font-family: "Times Roman Italic";
    src: url("../fonts/Times-new-roman-italic.ttf") format("truetype");
}



/* Start Project */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "TTNorms Light";
}

.container {
    max-width: 80rem; 
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}


/* Project Responsive */

@media only screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

@media only screen and (max-width: 992px) {
    .container {
        max-width: 720px;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        max-width: 540px;
    }
}

@media only screen and (max-width: 576px) {
    .container {
        max-width: 100vw;
    }
}
