.gallery{
    padding: 1.5rem;
    grid-column: 1/-1;
}
.gallery-images{
    display: grid;
    grid-template-rows: repeat(3, 280px);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "img1 img1 img2" "img3 img4 img2" "img3 img5 img5";
    grid-gap: 1rem;
}
.gallery-image{
    width: 100%;
    border-radius: 1rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform .8s;
}
.gallery-image:hover {
    transform: scale(1.05);
}
#image-gallery1{
    background-image: url("../img/gallery1.jpg");
    grid-area: img1;
}
#image-gallery2{
    background-image: url("../img/gallery2.jpg");
    grid-area: img2;
}
#image-gallery3{
    background-image: url("../img/gallery3.jpg");
    grid-area: img3;
}
#image-gallery4{
    background-image: url("../img/gallery4.jpg");
    grid-area: img4;
}
#image-gallery5{
    background-image: url("../img/gallery5.jpg");
    grid-area: img5;
}

@media screen and (max-width: 1000px) {
    .gallery-images{
        grid-template-areas: "img1 img1 img2" "img3 img4 img4" "img5 img5 img5";
    }

}
@media screen and (max-width: 600px) {
    .gallery-images{
        grid-template-rows: repeat(4, 280px);
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 0;
        grid-row-gap: 1rem;
        grid-template-areas: "img1 img1" "img3 img2" "img4 img4" "img5 img5";
    }
    #image-gallery2, #image-gallery3{
        border-radius: 2rem;
        clip-path: polygon(14% 0, 100% 0%, 86% 100%, 0% 100%);
    }

}
