.reserve{
    grid-column: 1/-1;
}
.reserves{
    display: grid;
    padding-top: 3rem;
    padding-bottom: 3rem;
    grid-template-columns: 100px repeat(4, 1fr) 100px;
    grid-template-rows: max-content;
    background-image: url("../img/roasted-pork-steak-dark-surface.jpg") , linear-gradient(to bottom, #4c4c4f, #000000);
    background-size: cover;
    background-position: center;
}
.left{
    padding-top: 1.5rem;
    grid-column: 2/3;
    background-color: #282A35;
    background-image: linear-gradient(to bottom, rgba(40, 42, 53, 0.79), rgba(0, 0, 0, 0.81));
    color: white;
    text-align: center;
    display: grid;
    grid-template-rows: 2fr 1fr repeat(3, 1fr) 3fr;

}
.right{
    padding-top: 2rem;
    padding-bottom: 2rem;
    grid-column: 3/6;
    display: grid;
    grid-template-rows: .5fr 1fr .5fr 1fr 2fr;
    grid-template-columns: 1fr;
    background-color: rgba(255, 255, 255, 0.62);
    text-align: center;
}
.right-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
}

.right-box-image{
    width: 120px;
    height: 120px;
    object-fit: cover;
    clip-path: circle(50% at 50% 50%);
}
.right-title, .reserve-branch{
    color: var(--newOrange);
    font-family: 'Satisfy', cursive;
}
.partners{
    color: var(--newOrange);
}
.order-text{
    width: 50%;
    margin: auto;
    text-align: center;
    font-family: 'Satisfy', cursive;
}
@media screen and (max-width: 690px){
    .reserves{
        grid-template-columns: 20px repeat(4, 1fr) 20px;
    }
    .left{
        font-size: .7rem;
    }
    .right{
        font-size: .8rem;
    }
    .right-box-image{
        width: 60px;
        height: 60px;
    }
    .order-text{
        width: 90%;
        margin: auto;
    }

}