.story{

    grid-column: 1/-1;
}
.story-images{
    display: grid;
    grid-gap: 1rem;
    padding: 1.5rem;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    justify-content: center;
}
.story-image{
    width: 100%;
    background-color: #282A35;
    color: #D9EEE1;
    border-radius: 10px;
    transition: transform .8s;
}
.story-image:hover{
    transform: scale(1.05);
}
