// sass is case sensitive
// number
.numbers{
  font-weight: 300; //integer
  line-height: 1.6; // point decimal
}
.string{
  font-family: "Segoe Print", sans-serif;
  font-style: italic;
  font-weight: bold;
}
.colors{
  background-color: darkcyan;
  color: #1E88E5;
  border-color: rgb(200,100,150);
  border-left-color: rgba(70,19,180,.4);
  border-right-color:hsl(100,20%,55%) ;
  border-bottom-color:hsla(100,20%,55%, 0.6) ;
}

.list{
  margin: 10px 20px 30px 40px;
  font-family: Arial, "Arial Rounded MT Bold", sans-serif;
  border: 2px solid blue;
}
// map data type
$colors: (
  primary: red,
  secondary: green,
  tertiary: "brown"
);
h1{
  color: map-get($map: $colors, $key: secondary);
}

// boolean: true or false

// null : has no value and type