*{
  margin: 0;
  padding: 0;
}
body{
  background: rgba(19, 19, 23, 0.9);
}
section{
  background-image: url("../images/modal-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  /* filter: blur(6px); */
}
.center{
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1{
  text-align: center;
  font-size: 50px;
  font-family: sans-serif;
  margin: 40px;
  text-transform: capitalize;
}
button{
  margin: 0 auto;
  height: 60px;
  width: 500px;
  background: #5454ff;
  border: none;
  border-radius: 6px;
  font-size: 25px;
  color: #000;
  cursor: pointer;
}

.modal-parent{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: none;
}
.modal{
  background: white;
  width: 70%;
  padding: 30px;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  font-family: arial;
  position: relative;
  animation: 0.5s drop;
}
@keyframes drop {
  0%{
    top: -100px;
  }
  100%{
    top: 50%;
  }
}
.X{
  position: absolute;
  right: 20px;
  top: 5px;
  font-size: 40px;
  cursor: pointer;

}
section{
  transition: 1s;
}
