body {
  background-image: url(../img/sky.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.fnameInput,
.lnameInput,
.phoneInput,
.emailInput,
.countrySelect,
.citySelect {
  width: 80%;
  height: 40px;
  border-radius: 5px;
  border: 0px;
  padding: 0px 10px;
}
.btn {
  height: 30px;
  border-radius: 5px;
  border: 0px;
  padding: 0px 20px;
  background-color: rgb(255, 217, 0);
  margin-top: 40px;
}
.box {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.container {
  margin-top: 100px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}