* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
}

.container-slider {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
}

.slider {
    width: 50%;
    height: 80%;
    display: flex;
    position: relative;
    z-index: 3;
    top: 20%;
    box-shadow: 0 0 0px 25px rgb(65, 65, 65);
    border-radius: 10px;
    outline: 10px solid rgb(100, 100, 100);
    overflow: hidden;
}
.slider-item,
.slider-item img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.slider-item {
    display: none;
    animation: fade 230ms;
}
@keyframes fade {
    0%{
        opacity: 0;
        transform: scale(1.5,1.5);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

.active {
    display: block;
}
.prev , .next{
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 40px;
    background-color: transparent; 
    font-size: 23px;
    color: rgba(255,255,255,0.5);
    border:none;
    outline: none;
    transition: all 230ms ease;
    cursor: pointer;
}
.prev:hover{
    background-color: rgba(255,255,255,0.150);
}
.next:hover{
    background-color: rgba(255,255,255,0.150);
}
.prev{
    left:0;
}
.next{
    right: 0;
}