@tailwind base;
@tailwind components;
@tailwind utilities;
.section-container{
    @apply max-w-6xl mx-auto text-center px-10;
}
.section-content{
    @apply max-w-3xl mx-auto mb-24 text-xl leading-9 text-center text-grayishBlue;
}
.button-container{
    @apply flex flex-col justify-center w-full space-y-6 text-xl text-white md:flex-row md:space-y-0;
}
@layer base{
    h3{
        @apply mb-8 text-4xl font-bold text-darkGrayishBlue;
    }
    h5{
        @apply mb-2 text-2xl font-bold text-darkGrayishBlue;
    }
}

body{
    background: url("../images/bg-header-desktop.png") no-repeat;
    background-size: contain;
}
.ficon:hover{
    filter: invert(54%) sepia(68%) saturate(434%) hue-rotate(121deg) brightness(101%) contrast(94%);
}
@media screen and (max-width: 576px){
    body{
        background: url("../images/bg-header-mobile.png") no-repeat;
        background-size: contain;
    }
}