*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.grid-container{
    background-color: lightblue;
    width: 80%;
    margin: 1rem auto;
    display: grid;
    grid-template-rows: 200px 200px 250px;
    grid-template-columns: 220px 220px 280px;
    /*grid-gap: 2rem;*/
    grid-column-gap: 1rem;
    grid-row-gap: 1.5rem;
    text-align: center;
}
.grid-item{
    background-color: #282A35;
    color: #D9EEE1;
    border: 2px solid salmon;
    text-align: center;
    line-height: 200px;
    font-weight: bold;
    font-size: 2rem;
    font-family: "Segoe UI";
}

