#myIframe {
  width:100%;
  height: 400px;
  border: 1px solid;
}


#map {
  width:60%;
  height: 300px;
  float:right;
}

#myVideo {
  float:left;
  width:40%;
  height:300px;
}

pre {
  border:1px solid black;
  border-radius: 10px;
  padding: 10px;
}
