button{
    color: antiquewhite;
    background-color: rgb(3, 62, 65);
    border: solid 3px rgb(8, 158, 163);
    border-radius: 1rem;
}
body{
    background-color: lightblue;
}
#record.active{
    color: red;
}
#record.normal:hover,#play:hover,#stop:hover,#snapshot:hover{
    color: purple;
}
.myshot{
    width: 240px;
    height: 180px;
}
#myshots{
    width: 100vw;
    overflow-x: auto;
}
.blur {
  filter: blur(3px);
}
.brightness {
  filter: brightness(5);
}
.contrast {
  filter: contrast(8);
}
.hue-rotate {
  filter: hue-rotate(90deg);
}
.hue-rotate2 {
  filter: hue-rotate(180deg);
}
.hue-rotate3 {
  filter: hue-rotate(270deg);
}
.saturate {
  filter: saturate(10);
}
.grayscale {
  filter: grayscale(1);
}
.sepia {
  filter: sepia(1);
}
.invert {
  filter: invert(1)
}
