.footer{
    grid-column: 1/-1;
    padding: 1rem 0;
    border-top: 1px solid #666666;
    background-color: #282A35;
    color: white;
    border-radius: 2rem 0 2rem 0;
}
.top-footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: 1fr;
    grid-column-gap: 20vw;
    width: 80vw;
    margin: auto;
    text-align: center;
}
.footer ul{
    list-style-type: none;
}
.footer li{
    color: whitesmoke;
    margin-top: 1rem;
    cursor: pointer;
    font-size: 1.1rem;
    transition: color .6s;
}
.footer li:hover {
    color: var(--newOrange);
}
.bottom-footer{
    margin-top: 1rem;
    font-size: .8rem;
    text-align: center;
}
.footer-title{
    color: var(--newOrange);
    transition: color .6s;
}
.footer-title:hover{
    color: whitesmoke;
}
.copy-name{
    color: var(--newOrange);
    cursor: pointer;
    transition: color .6s;
}
.copy-name:hover{
    color: whitesmoke;
}
