.ocean {
    overflow: hidden;
    width: 100%;
    position: relative;

}
.wave {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23FFFFFFD7'/%3E%3C/svg%3E");
    position: absolute;
    bottom: 0;
    width: 7680px;
    height: 20px;
    -webkit-animation: wave 7s cubic-bezier(.36,.45,.63,.53) infinite;
    animation: wave 7s cubic-bezier(.36,.45,.63,.53) infinite;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
}
.wave:nth-of-type(2) {
    bottom: 0;
    animation: wave 18s linear reverse infinite;
    opacity: 0.5;
}

.wave:nth-of-type(3) {
    bottom: 0;
    animation: wave 20s -1s linear infinite;
    opacity: 0.5;
}

@keyframes wave {
    0% {transform: translateX(0);}
    50% {transform: translateX(-25%);}
    100% {transform: translateX(-50%);}
}
@media screen and (max-width: 600px) {
    .wave {
        top:-75px;
        height: 75px
    }
}

@-webkit-keyframes wave {
    0% {
        margin-left: 0
    }

    100% {
        margin-left: -1920px
    }
}

@keyframes wave {
    0% {
        margin-left: 0
    }

    100% {
        margin-left: -1920px
    }
}

@-webkit-keyframes swell {
    0%,100% {
        -webkit-transform: translate3d(0,-25px,0);
        transform: translate3d(0,-25px,0)
    }

    50% {
        -webkit-transform: translate3d(0,5px,0);
        transform: translate3d(0,5px,0)
    }
}

@keyframes swell {
    0%,100% {
        -webkit-transform: translate3d(0,-25px,0);
        transform: translate3d(0,-25px,0)
    }

    50% {
        -webkit-transform: translate3d(0,5px,0);
        transform: translate3d(0,5px,0)
    }
}

