@import "base";
.hamburger-menu{
  width: 40px;
  height: 40px;
  position: fixed;
  top: 10%;
  right: 5%;
  z-index: 50;
  @media (max-width: 1000px) {
    width: 30px;
    height: 30px;
  }
  .menu{
    @extend %fullSpace;
    @include flex-center;
    justify-content: space-around;
    cursor: pointer;
    transition: transform .6s;
    &-line{
      width: 100%;
      height: 4px;
      background-color: $primary-color;
      transition: all .6s .6s;
      transform-origin: right;
      @media (max-width: 1000px) {
        height: 3px;
      }
    }
  }
}
.logo{
  font-size: $primary-size;
  color:$primary-color ;
  img{
    display: block;
    width: 600px;
    @media (max-width: 1600px) {
      width: 450px;
    }
    @media (max-width: 1300px){
      width: 300px;
    }
  }
}
.main-name{
  font-family: $dancingScript-font;
  font-size: $primary-size;
  line-height: 1rem;
  color: $secondary-color;
  @include text-typography;
  @media (max-width: 1600px){
    font-size: 60px;
  }
  @media (max-width: 1300px){
    font-size: 45px;
  }
}
.sub-name{
  font-family: $dancingScript-font;
  font-size: $text-size;
  color: $secondary-color;
  text-align: center;
}
.main-heading{
  font-family: $dancingScript-font;
  font-size: 100px;
  font-weight: 300;
  color: $primary-color;
  margin-bottom: 40px;
  @media (max-width: 1600px){
    font-size: 80px;
  }
  @media (max-width: 1300px){
    font-size: 70px;
  }
  @media (max-width: 800px){
    font-size: 55px;
  }
  @media (max-width: 600px){
    font-size: 45px;
  }
}
.sub-heading{
  font-family: $dancingScript-font;
  font-size: $secondary-size;
  font-weight: 300;
  color: $secondary-color;
  margin-bottom: 40px;
  @media (max-width: 1600px) {
    font-size: 30px;
    margin-bottom: 30px;
  }
  @media (max-width: 1300px) {
    font-size: 25px;
  }

  @media (max-width: 600px){
    font-size: 22px;
  }
}
.main-btn{
  width: 400px ;
  padding: 1rem 3rem;
  font-family: $josefinSans-font;
  font-size: $secondary-size;
  color: $primary-color;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid $primary-color;
  border-radius: .5rem;
  transition: all 500ms;
  &:hover{
    cursor: pointer;
    color: $secondary-color;
    border: 2px solid $secondary-color;
  }
  @media (max-width: 1600px) {
    font-size: 30px;
    padding: 1rem 2.5rem;
    width: 300px;
  }
  @media (max-width: 1300px) {
    font-size: 25px;
    padding: 1rem 2rem;
    width: 250px;
  }
  @media (max-width: 600px){
    font-size: 20px;
    padding: 1rem 1.5rem;
    width: 200px;
  }
}
.card{
  position: relative;
  width: 30%;
  height: 30vw;
  overflow: hidden;
  @media (max-width: 800px){
    width: 45%;
  }
  @media (max-width: 600px){
    width: 75%;
  }
  &:hover .card-overlay{
    left: 50%;
  }
  &-overlay{
    position: absolute;
    top: 50%;
    left: -100%;
    transform: translate(-50%,-50%);
    text-align: center;
    @extend %fullSpace;
    @include flex-center;
    z-index: 1;
    background-color: rgba($primary-color, .8);
    color: $text-color;
    transition: left 1s;
      &-heading{
        font-family: $nunito-font;
        font-size: $secondary-size;
        @include text-typography;
        @media (max-width: 1000px) {
          font-size: 30px;
        }
      }
      &-description{
        padding-top: 2rem;
        font-family: $josefinSans-font;
        font-size: $text-size;
        @include text-typography;

      }
    &-btn{
      margin-top: 2rem;
      width: 150px;
      height: 50px;
      color: $text-color;
      font-family: $nunito-font;
      font-size: $text-size;
      background-color: transparent;
      border: 1px solid $text-color;
      border-radius: 1rem;
      cursor: pointer;
      @media (max-width: 1000px) {
        width: 130px;
        height: 40px;
      }
    }
  }
    &-img{
      @extend %fullSpace;
      object-fit: cover;
    }
}