@font-face {
    font-family:"Nunito";
    src: url("../../assests/fonts/Nunito/Nunito-VariableFont_wght.ttf");
}
@font-face {
    font-family:"Dancing Script";
    src: url("../../assests/fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf");
}
@font-face {
    font-family:"Josefin Sans";
    src: url("../../assests/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf");
}
